@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
  --hoveredBackground: #befc65;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-poppins);
}
@font-face {
  font-family: "italic";
  src: url("../public/fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "regular";
  src: url("../public/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
.light {
  font-family: "italic";
}
.regular {
  font-family: 'regular';
}
